<!-- header section -->
<header class="header-container-wrapper">
    <div class="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-6 logo">
                    <a href="index.html">
                        <img src="./assets/images/logo.png" alt="BCL" width="210">
                    </a>
                </div>
                <div class="col-md-9 col-6 text-right">
                    <div class="container">
                        <div class="row align-items-center mob_hide">
                            <div class="col-md-8">
                                <div class="root">
                                    <div class="order-track">
                                        <div class="order-track-step active">
                                            <div class="order-track-status">
                                                <!-- <span class="order-track-status-dot"></span> -->
                                                <!-- <span class="order-track-status-line"></span> -->
                                            </div>
                                            <div class="order-track-text">
                                                <p class="order-track-text-stat"> Basic <span
                                                        class="deskhide">Details</span></p>
                                            </div>
                                        </div>
                                        <div class="order-track-step">
                                            <div class="order-track-status">
                                                <span class="order-track-status-dot"></span>
                                                <span class="order-track-status-line"></span>
                                            </div>
                                            <div class="order-track-text">
                                                <p class="order-track-text-stat">Lifestyle <span
                                                        class="deskhide">Details</span></p>
                                            </div>
                                        </div>
                                        <div class="order-track-step">
                                            <div class="order-track-status">
                                                <!-- <span class="order-track-status-dot"></span> -->
                                                <span class="order-track-status-line"></span>
                                            </div>
                                            <div class="order-track-text">
                                                <p class="order-track-text-stat">Review <span class="deskhide">your
                                                        Details</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="complete">
                                    <p class="heading">25% Completed </p>
                                    <div class="progressbar">
                                        <div class="statusBar" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section  -->