    <!-- footer section  -->
    <footer class="footer-container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 footer-logo">
                    <a href="index.html"><img class="footerLogo" src="./assets/images/logo.png" alt="B2B" width="210"></a>
                    <p>CIN:U67200DL2002PLC117625</p>
                    <p> Bajaj Capital Insurance Broking Limited</p>
                    <p>Bajaj House, 97, Nehru Place, New Delhi -110019</p>
                    <p><a href="mailto:care@bajajcapital.com">care@bajajcapital.com</a></p>
                    <p><a href="tel:1800-212-123123">1800 212 123123</a></p>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Our Services
                    </h4>
                    <ul>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/general-insurance/bike/lead-page"
                                target="_blank" (click)="webengageTrack('2 Wheeler Insurance', 'menu')">
                                2 Wheeler Insurance
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/general-insurance/car/lead-page"
                                target="_blank" (click)="webengageTrack('Car Insurance', 'menu')">
                                Car Insurance
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/general-insurance/health/input/basic-details"
                                target="_blank" (click)="webengageTrack(' Health Insurance', 'menu')">
                                Health Insurance
                            </a>
                        </li>
                        <li>
                            <a href="https://marketing.bajajcapitalinsurance.com/get-term-quote?mode=0" target="_blank" (click)="webengageTrack('Term Life Insurance', 'menu')">
                                Term Life Insurance
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Quick Links
                    </h4>
                    <ul>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/AboutUs.aspx" (click)="webengageTrack('About', 'menu')"> About </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/ImportantPolicies.aspx" (click)="webengageTrack('Important Policies', 'menu')">
                                Important Policies
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/BranchPage.aspx" (click)="webengageTrack('Branch Locator', 'menu')">Branch Locator </a>
                        </li>
                        <li>
                            <a href="https://pos.bajajcapitalinsurance.com/" target="_blank" (click)="webengageTrack('Earn with Us', 'menu')">Earn with Us</a>
                        </li>

                        <li class="annual">
                            Annual Return -
                            <a href="https://www.bajajcapitalinsurance.com/assets/documents/2018.pdf" target="_blank" (click)="webengageTrack('Annual Return - 2018', 'menu')">
                                2018</a>
                            <a href="https://www.bajajcapitalinsurance.com/assets/documents/2019.pdf" target="_blank" (click)="webengageTrack('Annual Return - 2019', 'menu')">|
                                2019</a>
                            <a href="https://www.bajajcapitalinsurance.com/assets/documents/2020.pdf" target="_blank" (click)="webengageTrack('Annual Return - 2020', 'menu')">|
                                2020</a>
                            <a href="https://www.bajajcapitalinsurance.com/assets/documents/2021.pdf" target="_blank" (click)="webengageTrack('Annual Return - 2021', 'menu')">|
                                2021</a>
                            <a href="https://www.bajajcapitalinsurance.com/assets/documents/2022.pdf" target="_blank" (click)="webengageTrack('Annual Return - 2022', 'menu')">|
                                2022</a>
                        </li>
                        <li><a href="https://www.bajajcapitalinsurance.com/blog/" (click)="webengageTrack('Blog', 'menu')">Blog</a></li>
                        <li><a href="https://www.bajajcapitalinsurance.com/ClaimCenterNew.aspx" (click)="webengageTrack('Claim Center', 'menu')">Claim Center</a></li>
                        <li><a href="https://www.bajajcapitalinsurance.com/ComplaintNew.aspx" (click)="webengageTrack('Complaint', 'menu')">Complaint</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Legal &amp; Compliance
                    </h4>
                    <ul>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/PrivacyPolicy.aspx" (click)="webengageTrack('Privacy Policy', 'menu')">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/TermsConditions.aspx" (click)="webengageTrack('Terms & Conditions', 'menu')">
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/ImportantPolicies.aspx" (click)="webengageTrack('Disclaimer', 'menu')">
                                Disclaimer
                            </a>
                        </li>

                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/CSRPolicy.aspx" (click)="webengageTrack('CSR Policy', 'menu')">
                                CSR Policy
                            </a>
                        </li>
                        <li>
                            <a href="https://www.bajajcapitalinsurance.com/assets/BCIBL-Anti-Fraud-Policy.pdf"
                                target="_blank" (click)="webengageTrack('Anti-Fraud Policy guidelines', 'menu')">
                                Anti-Fraud Policy guidelines
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md social">
                    <h4>Follow Us
                    </h4>

                    <ul class="social-links">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/bajajcapitalinsurance" (click)="webengageTrack('Facebook', 'social')">
                                <img src="./assets/images/facebook.png" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/bcl_insurance" (click)="webengageTrack('Twitter', 'social')">
                                <img src="./assets/images/twitter.png" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/bajaj.capital.insurance/" (click)="webengageTrack('Instagram', 'social')">
                                <img src="./assets/images/instagram.png" alt="instagram">
                            </a>
                        </li>
                        <li>
                            <a target="_blank"
                                href="https://www.linkedin.com/company/bajaj-capital-insurance-broking-ltd/" (click)="webengageTrack('LinkedIn', 'social')">
                                <img src="./assets/images/linkedin.png" alt="Linkdin">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <p class="description">This site is owned and operated by Bajaj Capital Insurance Broking Limited
                [“BCIBL”
                (CIN:U67200DL2002PLC117625)], an IRDA registered Composite Broker bearing <span><a target="_blank"
                        href="https://online.bajajcapitalinsurance.com/Content/PolicyMart/images/Bajaj/Broking%20Licence1.pdf">Registration
                        No. 241 ,</a></span> Registered dated 09-01-2022 valid till 08-01-2025 (originally
                Registered by
                IRDA on
                09/01/2004 and renewed thereafter). BCIBL is a member of Insurance Brokers Association of India
                (Membership No.119).
                The Prospect’s/visitor’s particulars could be shared with insurers.
                The information displayed on this website is of the insurers with whom BCIBL has an agreement.
                Insurance is the subject matter of solicitation.</p>
        </div>
        <div class="footer-bottom-pane">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">
                            Copyright © 2022 Bajaj Capital Insurance Broking Limited
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section  -->