<!-- home banner section  -->
<section class="home_banner">
    <!-- <div class="ele"></div> -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-6 logo">
                <a href="#">
                    <img src="./assets/images/logo.png" alt="BCL" width="210">

                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <h1 class="heading">Tiger by your side, always</h1>
                    <p class="text">Always wondering how much health cover is right for you and your family? Introducing
                        Health Insurance Second Opinion from Tiger - it's your go-to tool for guiding on the right
                        health coverage.</p>
                    <button class="btn btn-free" (click)="redirectTo()">Try for free</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right">
                    <div class="right_box">
                        <div class="ele"></div>
                        <div class="ele_2"></div>
                        <div class="locations" id="locations">
                            <div class="location_box active" id="1">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user.png" alt="user"
                                                class="img-fluid userimg">Priya Srivastav</p>
                                        <p class="t_msg">I’ve found the perfect health coverage for my family using
                                            Tiger Insurance. I was falling 5 Lakh short with my current plan, but with
                                            the second
                                            opinion now my family is covered.</p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                            <div class="location_box" id="2">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user-5.png" alt="user"
                                                class="img-fluid userimg">Arun Kousal</p>
                                        <p class="t_msg">The Health Insurance Second Opinion tool pinpointed a coverage
                                            gap in our family's plan, ensuring full protection. Grateful for their
                                            professionalism in securing our health.
                                        </p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                            <div class="location_box" id="3">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user-2.png" alt="user"
                                                class="img-fluid userimg">Smitha Rai</p>
                                        <p class="t_msg">With the Health Insurance Second Opinion tool, I found the
                                            ideal coverage, making premiums more affordable. Grateful for their support
                                            in securing my health.</p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                            <div class="location_box" id="4">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user-3.png" alt="user"
                                                class="img-fluid userimg">Harshad Swain</p>
                                        <p class="t_msg">Thanks to the tool, I optimized my insurance plan, reducing
                                            premiums and gaining comprehensive coverage. Highly appreciative of their
                                            invaluable assistance.
                                        </p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                            <div class="location_box" id="5">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user-4.png" alt="user"
                                                class="img-fluid userimg">Aarohi Sharma</p>
                                        <p class="t_msg">The tool helped me realize the importance of additional
                                            coverage beyond my employer's insurance, ensuring adequate protection.
                                            Grateful for their expertise in navigating insurance options.</p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                            <div class="location_box" id="6">
                                <div class="location_wrapper">
                                    <div class="testimonial">
                                        <p class="t_name"><img src="./assets/images/user-6.png" alt="user"
                                                class="img-fluid userimg">Manisha Singh</p>
                                        <p class="t_msg">The tool provided tailored recommendations, optimizing my plan
                                            and highlighting coverage gaps for my parents. Grateful for securing our
                                            health and finances.</p>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="label1">
                            <img src="./assets/images/label1.png" class="img-fluid w-100" alt="labelimg">
                        </div>
                        <div class="label2">
                            <img src="./assets/images/label2.png" class="img-fluid w-100" alt="labelimg">
                        </div> -->
                        <div class="info-box">
                            <p class="hi">Hi there! I’m Tiger</p>
                            <p class="text">I promise to always ensure you are equipped with the best tools to safeguard
                                your family's health and well-being.</p>
                            <a class="click" (click)="redirectTo()" style="cursor: pointer;">Click here to start</a>
                        </div>
                        <img src="./assets/images/tiger-animation.gif" class="img-fluid tigerGif" alt="tigerGif">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home banner section  -->

<!-- services section  -->
<section class="services">
    <p class="subheading">Our Services</p>
    <h2 class="heading">Save time with our best services <br> for your insurance needs.</h2>
    <div class="container">
        <div class="icon_box">
            <div class="icon_box_wrapper">
                <div class="icon-inner">
                    <img src="./assets/images/icon/icon1.png" class="img-fluid iconImg" width="48" alt="icon">
                    <p class="text">Easy Onboarding in 3 steps</p>
                </div>
                <div class="icon-inner">
                    <img src="./assets/images/icon/icon2.png" class="img-fluid iconImg" width="48" alt="icon">
                    <p class="text">Get assistance from Relationship Managers</p>
                </div>
                <div class="icon-inner">
                    <img src="./assets/images/icon/icon3.png" class="img-fluid iconImg" width="48" alt="icon">
                    <p class="text">Download & share your Report at ease</p>
                </div>
                <div class="icon-inner">
                    <img src="./assets/images/icon/icon4.png" class="img-fluid iconImg" width="48" alt="icon">
                    <p class="text">Get suggestions on how to reach the desired cover</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services section  -->

<!-- about section  -->
<section class="about">
    <div class="text-center">
        <img src="./assets/images/about_ele.png" width="70" class="img-fluid creative" alt="about">
    </div>
    <h2 class="heading">Learn More About Process</h2>
    <p class="subheading">Get the exact coverage amount you and your family <span class="d-block">need in just
            three easy steps</span>
    </p>
    <div class="container">
        <div class="about_box">
            <div class="inner_box">
                <span class="number">1</span>
                <img src="./assets/images/icon/profile-circle.png" class="img-fluid icon" alt="icon">
                <h5 class="heading">Add your Details</h5>
                <p class="text">Begin by entering your personal details and any health preferences you may have.</p>
            </div>
            <div class="inner_box">
                <span class="number">2</span>
                <img src="./assets/images/icon/setting.png" class="img-fluid icon" alt="icon">
                <h5 class="heading">Complete Profile</h5>
                <p class="text">Further provide insured member details for accurate output.</p>
            </div>
            <div class="inner_box">
                <span class="number">3</span>
                <img src="./assets/images/icon/flash.png" class="img-fluid icon" alt="icon">
                <h5 class="heading">Download Report</h5>
                <p class="text">You can download the recommendation report, calculated based on years of research on
                    health coverage needs.</p>
            </div>
        </div>
    </div>
</section>
<!-- about section  -->

<!-- plan section  -->
<section class="plan">
    <div class="container">
        <h3 class="heading">Start today, with our free plan <span class="d-block">Hurry Up!</span></h3>
        <p class="subheading">The offer is only available for a limited time. <span class="d-block">Don't miss
                out!</span></p>
        <div class="plan-card">
            <!-- <span class="label">FREE</span> -->
            <img src="./assets/images/HISO-Logo.png" class="img-fluid label" alt="svg">
            <span class="title">SECOND OPINION PLAN</span>
            <p class="amount">₹0 <span class="smalltext" [style.textDecoration]="'line-through'">₹199</span>
                <span class="offer">(Offer valid till 31st May)</span>
            </p>
            <ul class="list">
                <li>Check Family plan & coverage</li>
                <li>Get assistance from RMs</li>
                <li>Download your personalized report</li>
            </ul>
            <button (click)="redirectTo()" class="btn check">Check Now</button>
        </div>
    </div>
</section>
<!-- plan section  -->

<!-- discover section  -->
<section class="discover">
    <div class="container">
        <div class="discover-wrapper">
            <img src="./assets/images/svg-1.svg" class="img-fluid svg-1" alt="svg">
            <img src="./assets/images/svg-2.svg" class="img-fluid svg-2" alt="svg">
            <h3 class="heading">Discover a better way to ensure your healthcare needs with our trusty Tiger by your
                side.<span class="d-block"></span></h3>
            <button (click)="redirectTo()" class="btn started">Get Started Now</button>
        </div>
    </div>
</section>
<!-- discover section  -->


<app-footer></app-footer>